.pio
.vscode/

/CodeGenerator/build-CodeGenerator-Desktop_Qt_5_13_0_MinGW_64_bit-Debug/debug/CodeGenerator.exe
/CodeGenerator/build-CodeGenerator-Desktop_Qt_5_13_0_MinGW_64_bit-Debug/debug/mainwindow.o
/PixelSimulator/build-PixelSimulator-Desktop_Qt_5_13_0_MinGW_64_bit-Debug/.qmake.stash
/PixelSimulator/build-PixelSimulator-Desktop_Qt_5_13_0_MinGW_64_bit-Debug/debug/main.o
/PixelSimulator/build-PixelSimulator-Desktop_Qt_5_13_0_MinGW_64_bit-Debug/debug/mainwindow.o
/PixelSimulator/build-PixelSimulator-Desktop_Qt_5_13_0_MinGW_64_bit-Debug/debug/moc_mainwindow.cpp
/PixelSimulator/build-PixelSimulator-Desktop_Qt_5_13_0_MinGW_64_bit-Debug/debug/moc_mainwindow.o
/PixelSimulator/build-PixelSimulator-Desktop_Qt_5_13_0_MinGW_64_bit-Debug/debug/moc_Pixel.cpp
/PixelSimulator/build-PixelSimulator-Desktop_Qt_5_13_0_MinGW_64_bit-Debug/debug/moc_Pixel.o
/PixelSimulator/build-PixelSimulator-Desktop_Qt_5_13_0_MinGW_64_bit-Debug/debug/moc_predefs.h
/PixelSimulator/build-PixelSimulator-Desktop_Qt_5_13_0_MinGW_64_bit-Debug/debug/Pixel.o
/PixelSimulator/build-PixelSimulator-Desktop_Qt_5_13_0_MinGW_64_bit-Debug/debug/PixelSimulator.exe
/PixelSimulator/build-PixelSimulator-Desktop_Qt_5_13_0_MinGW_64_bit-Debug/Makefile
/PixelSimulator/build-PixelSimulator-Desktop_Qt_5_13_0_MinGW_64_bit-Debug/Makefile.Debug
/PixelSimulator/build-PixelSimulator-Desktop_Qt_5_13_0_MinGW_64_bit-Debug/Makefile.Release
/PixelSimulator/build-PixelSimulator-Desktop_Qt_5_13_0_MinGW_64_bit-Debug/ui_mainwindow.h
/PixelSimulator/build-PixelSimulator-Desktop_Qt_5_13_0_MinGW_64_bit-Debug/usershannesappdatalocaltemptmpjz3kx_
/PixelSimulator/build-PixelSimulator-Desktop_Qt_5_13_0_MinGW_64_bit-Debug/usershannesappdatalocaltemptmpspfdr3
/PixelSimulator/build-PixelSimulator-Desktop_Qt_5_13_0_MinGW_64_bit-Debug/usershannesappdatalocaltemptmpzb4bwf
/CodeGenerator/build-CodeGenerator-Desktop_Qt_5_13_0_MinGW_64_bit-Debug/debug/CodeGenerator.exe
/CodeGenerator/build-CodeGenerator-Desktop_Qt_5_13_0_MinGW_64_bit-Debug/debug/mainwindow.o
/PixelSimulator/build-PixelSimulator-Desktop_Qt_5_13_0_MinGW_64_bit-Debug/*
